@import 
	"compass/reset", 
	"compass/css3",
    "constants",
    "games/WordComprehensionGame.scss";

.full {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

html {@extend .full;}

body {
  @extend .full;
  @include transition-property(background);
  @include transition-duration(1s);
  @include transition-timing-function(ease-in);

  background-color: #222;

//  background-color: $light-gray;

//  &.ingame {
//  }
}

#app {
  @extend .full;

  footer {
    bottom: 25px;
    position: absolute;
    right: 25px;
  }
}

#session {
  @extend .full;
}

#game {
  @extend .full;
}

.btn {
  font-size: 18px;
  padding: 5px;
  text-align: center;

  strong {
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
}

#start-btn {
  display: block;
  left: 50%;
  margin-left: -110px;
  position: absolute;
  top: 45%;
  width: 220px;
}
